langchain~=0.3.18
dashscope==1.20.3
opensearch-py==2.6.0
mysql-connector-python==8.0.11
requests>=2.31.0,<2.34.0
tqdm==4.66.2
IPython==8.16.1
environs~=14.1.0
numpy==1.26.4
ipywidgets==8.1.5
langchain_community
jupyter
